[Unit]
Description=Setup Power Settings
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-power-settings.sh

[Install]
WantedBy=multi-user.target